body{
    /* ff 3.6+ */
    background:-moz-linear-gradient(128deg, rgba(0, 223, 255, 1) 0%, rgba(130, 238, 206, 0.29) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(128deg, rgba(0, 223, 255, 1) 0%, rgba(130, 238, 206, 0.29) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(128deg, rgba(0, 223, 255, 1) 0%, rgba(130, 238, 206, 0.29) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82EECE', endColorstr='#00DFFF', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(128deg, rgba(0, 223, 255, 1) 0%, rgba(130, 238, 206, 0.29) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(128deg, rgba(0, 223, 255, 1) 0%, rgba(130, 238, 206, 0.29) 100%);

}

* {

}

.card {
    width: 30rem;
    height: 25rem;
    float: none;

}

time {
    text-decoration: solid;
    font-size: larger;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.numbers {
    display: block;
    padding: 9vh;
}

.buttons {
    padding: 2vh;
}

